body{
    text-align: center;
}

.btn{
    height: 200px;
    width:200px;
    border: 10px solid black;
    border-radius: 20%;
    margin:1.5rem;

}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: rgb(216, 187, 44);
}

.purple{
    background-color: rgb(153, 85, 153);

}

.green{
    background-color: rgb(100, 184, 100);
}

.orange{
    background-color: rgb(213, 141, 82);
}